*{
  box-sizing: border-box;
}
body{
  margin:0;
  font:.9em/1.5 'Roboto';
  cursor:default;
}
.box {
  width:100%;
  max-width:1200px;
  min-height: 600px;
  margin:0 auto;
  padding:1em;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:#686868;
  border-radius: 10px 10px 10px 10px;
}
.message{
  padding:1em;
  width:calc(100% - 100px);
  border-radius:15px;
}
.bot .message{
  background:#282c34;
}
.bot{
  display:flex;
  align-items:flex-end;
}
.bot-icon{
  --size:40px;
  width:var(--size);
  height:var(--size);
  background:url(./images/chatbot.png);
  background-position:center;
  background-size:cover;
  border-radius:100%;
  margin-right:.8em;
  position:relative;
}
.bot-icon::after{
  content:' ';
  position:absolute;
  width:10px;
  height:10px;
  background:lightgreen;
  border-radius:100%;
  bottom:0;
  right:0;
}
.person-b .message{
  background:lightblue;
  margin:2em 0;
  margin-left:100px;
  color:white;
  text-align:right;
}
.message svg{
  height:26px;
  vertical-align:middle;
}
.last{
  width:auto;
}